.keys-section {
  display: flex;
  flex-direction: column;
}

.keys-header, .keys-detail-header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.keys-header {
  background-color: #F0F3F6;
  border-bottom: 2px solid #CED4DA;
  font-weight: bold;
}

.keys-detail-header {
  font-size: 0.7rem; 
  color: #666; 
  background-color: #E9ECEF; 
  border-bottom: 1px solid #DDD; 
}

.keys-header span, .keys-detail-header span {
  flex: 1;
  text-align: center;
}
